PORT=3000
DATABASE_URL="postgresql://leilao:leilao@postgres:5432/leilao?schema=public"

AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
AWS_ENDPOINT_URL="http://sqs:4566"
SQS_QUEUE_URL="http://sqs:4566/000000000000/leilao-queue"
